<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <title>Online Courses</title>
  </head>
  <body>
  <a href='/'>Back</a>
  <h1>AJR U Courses</h1>
  <table>
    <thead>
      <th>Course Details</th>
      <th>Course Name</th>
      <th>Description</th>
      <th>Instructor</th>
    </thead>
    <tbody>
      <% courses.forEach( function(course) { %>
        <tr>
          <td>
            <a href=<%= '/courses/' + course.id %> >Show</a>
          </td>
          <td><%= course.course_name %></td>
          <td><%= course.description %></td>
          <td><%= course.instructor %></td>
        </tr>
      <% }); %>
    </tbody>
    </table>
  </body>
 </html> 