<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <title>Online Courses</title>
  </head>
  <body>
    <header>
    <div class="row">
    <div class="col s3">
    </div>
    <div class="col s9">
    </div>
    </div>
    </header>

    <body>
      <div class='container'>

        <h1>AJR University<h1>
        <h4><a href="/courses">List the courses</a></h4>
        <% courses.forEach( function(course) { %>
            <div class="divider"></div>
            <div class="section">
              <h5><%= course.course_name %></h5>
              <a style='font-size: 18px;' href=<%= '/courses/' + course.id %> >Learn More</a>
            </div>
        <% }); %>   
      
        <h4><a href="/contacts">Contact Us</a></h4>
    </div>
 </body>
 </html> 